{% extends 'forum_base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block header %}
    <div class='forumBGHeader animeHeader'>
        <div class="forumHeader">
            ANIME FORUM
        </div>
    </div>
{% endblock header %}
    

{% block content %}
    <!-- Content -->
    <div id="content" class="container">
        <div class="sideBox">
            <div>
                <input type="text" id="searchBox" placeholder="Search posts">
            </div>
            <div class="forumCard">
                <div class="fCardContent">
                    <p>ANIME FORUM</p>
                    <p style="font-family: Orbitron; font-weight: 700; font-size: 24px;">
                        {{ tally }} Post(s)
                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'anime:create' %}">
                        <div class="fbtn">
                            Add Post
                        </div> 
                    </a>
                    {% else %} 
                    <p>Login to add post</p>
                    <a href="{% url 'login' %}">
                        <div class="fbtn">
                            Login
                        </div> 
                    </a>
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="postsBox">
            <table id="result">
                {% for post in posts %}
                <tr>
                    <td class="postCard">
                        <a href="{% url 'anime:details' post.id %}">
                            <p style="font-weight: 700;">{{ post.title }}</p>
                            <p>{{ post.name }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;">

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>      
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'anime.js' %}"></script>
{% endblock content %}
