{% extends 'forum_add_base.html' %}
{% load static %}

{% block header %}
    <div class='forumBGHeader memeHeader'>
        <div class="forumHeader">
            MEME FORUM
        </div>
    </div>
{% endblock header %}


{% block content %}

    {% if user.is_authenticated %}
    <!-- make form here -->
    <form action='' method="POST" enctype="multipart/form-data">
        <div class="formBox">
            <table style="display: flex; flex-direction: column;">
            {% csrf_token %}
                <tr>
                    <td>
                        Title :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Username : {{ user.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Content :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.content }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Media :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.image }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save" class="btn btn-light"/>
                    </td>
                </tr>    
            </table>
            <p></p>
        </div>
    </form>
    {% else %} 
    <div class="formBox">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p style="font-size: larger; padding: 20px;">Login to add post</p>
            <a href="{% url 'login' %}" style="display: flex; flex-direction: column;">
                <div class="fbtn">
                    Login
                </div> 
            </a>
        </div>
    </div>
    {% endif %} 

{% endblock content %}
