{% extends 'forum_base.html' %}
{% load static %}

{% block header %}
    <div class='forumBGHeader gameHeader'>
        <div class="forumHeader">
            GAMING FORUM
        </div>
    </div>
{% endblock header %}

{% block content %}
    <!-- Content -->

    <div id="content" class="container">
        <div class="sideBox">
            <div>
                <input type="text" id="searchBox" placeholder="Search title">
            </div>
            <div class="forumCard">
                <div class="fCardContent">
                    <p>GAMING FORUM</p>
                    <p style="font-family: Orbitron; font-weight: 700; font-size: 24px;">
                        {{ tally }} Post(s)
                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'gaming_forum:tambahpost' %}">
                        <div class="fbtn">
                            Add Post
                        </div> 
                    </a>
                    {% else %} 
                    <p>Login to add post</p>
                    <a href="{% url 'login' %}">
                        <div class="fbtn">
                            Login
                        </div> 
                    </a>
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="postsBox">
            <table style="width: 100%;" id="name_list">
                {% for post in posts %}
                <tr>
                    <td class="postCard">
                        <a href="{% url 'gaming_forum:postdetail' post.id %}">
                            <p style="font-weight: 700;">{{ post.title }}</p>
                            <p>{{ post.name }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;">

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>      
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    $("#searchBox").keyup(function(){
        let keyword = $("#searchBox").val();
        $("#name_list").empty();
        $('#name_list').append(
            '<div class="postsBox"><table style="width: 100%;">'
        );
            $.ajax({
                url: "/gaming-forum/title_data?q=" + keyword,
                success: function(result){
                    console.log(result);
                    let array = result;
                    for (let i = 0; i < 10; i++){
                        let tes = ""
                        $('#name_list').append(
                            ' <tr><td class="postCard"><a href="'+result[i].pk+'/details"><p style="font-weight: 700;"> ' + result[i].fields.title + '</p><p>' + result[i].fields.name  + '</p></a></td></tr><tr><td><div style="height: 20px;"></div></td></tr> '
                        );
                    };
            }});
        $('#name_list').append(
            '</table></div>'
        );
    });
});

</script>

{% endblock content %}