{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- external style sheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>WebForU</title>
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% include 'navbar.html' %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
