{% extends 'forum_details_base.html' %}

{% block header %}
    <div style="height: 50px;"></div>
    <div class='forumBGHeader gameHeader'>
        <div class="forumHeader">
            GAME FORUM
        </div>
    </div>
{% endblock header %}

{% block content %}
<div id="content">
    <div class="headerTxt">
        <div class="postTitle">
            {{ model.title }}
        </div>
        <div>
            Posted by {{ model.name }}
        </div>
    </div>
    
    <div class="postContentBox">
        <div class="postContent">
            {{ model.content }}
        </div>
        <div class="postImage">
        	{% if model.image %}
        	<p></p>
            <img src="{{ model.image.url }}" alt="img" style="width: 100%;"> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
