{% extends 'forum_base.html' %}
{% load static %}
{% block head %}
{% endblock head %}

{% block header %}
    <div class='forumBGHeader memeHeader'>
        <div class="forumHeader">
            MEME FORUM
        </div>
    </div>
{% endblock header %}


{% block content %}
    <!-- Content -->
    <div id="content" class="container">
        <div class="sideBox">
            <div>
                <input type="text" id="searchBox" placeholder="Search posts">
            </div>
            <div class="forumCard">
                <div class="fCardContent">
                    <p>MEME FORUM</p>
                    <p style="font-family: Orbitron; font-weight: 700; font-size: 24px;">
                        {{ tally }} Post(s)
                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'meme_forum:addPost' %}">
                        <div class="fbtn">
                            Add Post
                        </div> 
                    </a>
                    {% else %} 
                    <p>Login to add post</p>
                    <a href="{% url 'login' %}">
                        <div class="fbtn">
                            Login
                        </div> 
                    </a>
                    {% endif %} 
                </div>
            </div>
        </div>
        <div class="postsBox">
            <table id="result">
                {% for post in posts %}
                <tr>
                    <td class="postCard">
                        <a href="{% url 'meme_forum:detailPost' post.id %}">
                            <p style="font-weight: 700;">{{ post.title }}</p>
                            <p>{{ user.username }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;">

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>      
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$("#searchBox").keyup( function() {
    var keyword = $("#searchBox").val();

    if (keyword){
        $.ajax({
            url : "/meme-forum/meme_data?q=" + keyword,
            success : function(data) {
                var post = data;
    
                $("#result").empty();  // clears existing data
                for (i = 0; i < 10; i++) {
                    // loads 10 objects' infos
                    id = post[i].pk;
                    title = post[i].fields.title;
                    namee = post[i].fields.name;
    
                    $("#result").append(
                        '<tr><td class="postCard"><a href="'+id+'/details">'
                        +'<p style="font-weight: 700;">'+title+'</p>'
                        +'<p>'+namee+'</p></a></td></tr>'
                        +'<tr><td><div style="height: 20px;"></div></td></tr>'
                    );
                };
            }
            
        });
    }

});
$("#result").click(function(){
  $(this).hide();
});

</script>
        
{% endblock content %}
