{% extends 'forum_details_base.html' %}
{% load static %}

{% block header %}
    <div style="height: 50px;"></div>
    <div class='forumBGHeader memeHeader'>
        <div class="forumHeader">
            MEME FORUM
        </div>
    </div>
{% endblock header %}

{% block content %}
<div id="content">
    <div class="headerTxt">
        <div class="postTitle">
            {{ model.title }}
        </div>
        <div>
            Posted by {{ model.name }}
        </div>
    </div>
    
    <div class="postContentBox">
        <div class="postContent">
            {{ model.content }}
        </div>
        <div class="postImage">
            {% if post.image %}
            <p></p>
                <img src="{{ post.image.url }}" alt="img" style="width: 100%;"> 
            {% endif %}
            </div>
    </div>
    
    <div>

    </div>
</div>
{% endblock content %}
