{% extends 'index.html' %}
{% load static %}

{% block style %}
<style>
    #landing{
        min-height: calc(100vh - 49px);
        background-image: url("https://i.makeagif.com/media/8-02-2016/yYXxa_.gif");
        background-size: cover;
        color: #FAFAFA;
    }

    .cover{
        text-align: center;
        height: calc(100vh - 49px);
    }

    .cover h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 72px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .title {
        position: relative;
        margin-top: 50px;
    }
    .title img{
        width: 150px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu {
        margin-top: 100px;
    }

    .menu a {
        font-family: 'Orbitron', sans-serif;
        padding: 10px 25px;
        margin: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .menu a:hover, .login-btn:hover {
        background-color: #FAFAFA;
        color: black;
        font-weight: bold;
    }

    .subcription-form{
        width: 100%;
        text-align: center;
        padding: 60px 0;
    }

    form{
        width: 50%;
        margin: 0 auto;
    }

    input[type=email], select, textarea, #search-box {
        width: 100%;
        padding: 12px 20px;
        margin: 10px 0;
        border-radius: 30px;
    }

    input[type=submit] {
        float: center;
        min-width: 100px;
        color: #FAFAFA;
        background-color:#434051ad;
        padding: 6px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #FAFAFA;
        color:#434051ad;
    }

    .login-btn{
        width: 190px;
        font-family: 'Orbitron', sans-serif;
        padding: 5px 25px;
        margin: 10px auto;
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    #email {
        background-color: #FAFAFA;
        padding: 10px 0 50px 0;
    }
    #email_box {
        margin-top: 35px;
        padding: 25px;
        background-color: #131313;
        color: #FAFAFA;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }
    #email_list {
        padding: 10px 5px;
    }
@media only screen and (max-width: 800px) {

    .cover h1{
        font-size: 42px;
    }

    .title img{
        width: 100px;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu a, .login-btn{
        font-size: 12px;
    }

    form{
        width: 90%;
    }

    .subcription-form p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
</style>
{% endblock style %}

{% block content %}
<div id="landing">
    <div class="container">
        <div class="cover center">
            <div class="title">
                <h1>WELCOME</br>WEEBS</h1>
                <p id="subtitle">may the force be with you</p>
                <img src="{% static 'img/paimon.png' %}" alt="emergency food">    
            </div>
            <div class="menu">
                <a id="aforum" href="/anime-forum">ANIME  FORUM</a>
                <a id="mforum" href="/meme-forum">MEME  FORUM</a>
                <a id="gforum" href="/gaming-forum">GAMING  FORUM</a>              
            </div>
        </div>

        <div class="subcription-form center">
            {% if email_count == 0 %}
            <p>Be the first to join our community.</p>
            {% elif email_count == 1 %}
            <p>{{ email_count }} people has become part of our community</p>
            {% else %}
            <p>{{ email_count }} people have become part of our community</p>
            {% endif %}

            {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ email_form }}
                <input class="btn" type="submit" value="subscribe">
            </form>
        </div>

        {% else %}
        <br>
        <p>Please Login to Subscribe</p>
        <a href="{% url 'login' %}" class="login-btn">Login</a>
        {% endif %}
    </div>
</div>

{% if user.is_authenticated %}
<div id="email">
    <div class="container">
        <div id="email_box">
            <input id="search-box" placeholder="Search listed email here">
            <div id="email_list">
        
            </div>
        </div>
    </div>
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    $("h1").click(function(){
        if($("#subtitle").text().indexOf("may the force be with you") != -1){
            $("h1").text("ようこそ友達");
            $("#subtitle").text("力があなたと共にありますように");
            $("#aforum").text("アニメフォーラム");
            $("#mforum").text("ミームフォーラム");
            $("#gforum").text("ゲームフォーラム");
        } else {
            $("h1").html("WELCOME</br>WEEBS");
            $("#subtitle").text("may the force be with you");
            $("#aforum").text("ANIME  FORUM");
            $("#mforum").text("MEME  FORUM");
            $("#gforum").text("GAMING  FORUM");
        }
    });
    $("#search-box").keydown(function(){
        $("#email_list").empty();
        $('#email_list').append(
            '<p>Searching...</p>'
        );
    });
    $("#search-box").keyup(function(){
        let keyword = $("#search-box").val();
        $("#email_list").empty();

        if (keyword){
            $.ajax({
                url: "/homepage_data?q=" + keyword,
                success: function(result){
                    let array = result;

                    for (let i = 0; i < 10; i++){
                        $('#email_list').append(
                            '<p>' + result[i].fields.subscribe_for_a_healthy_dose_of_waifu + '</p>'
                        );
                    };
            }});
        }
    });
});

</script>
{% endblock content %}