{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<style>
    .isi{
        padding-top: 49px;
        min-height: 100vh;
    }
</style>
{% block style %}
{% endblock style %}

<header>

    {% include 'navbar.html' %}

</header>
<body class="isi">

    {% block content %}
    {% endblock content %}

</body>
<footer>

    <!-- {% block foot %} -->
    <!-- Fill with contant infos/form/copyright -->
    <!-- {% endblock foot %} -->

    {% include 'footer.html' %}

</footer>
</html>
