{% extends 'index.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #base{
        background-image: url("https://i.makeagif.com/media/8-02-2016/yYXxa_.gif");
        background-size: cover;
        color: #FAFAFA;
    }

    .menu {
        padding-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu a {
        font-family: 'Orbitron', sans-serif;
        padding: 10px 25px;
        margin: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .menu a:hover {
        background-color: #FAFAFA;
        color: black;
        font-weight: bold;
    }

    #rules, #about, #support, #contact {
        padding-top: 75px;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    h3 {
        font-weight: lighter;
    }

    .content {
        margin-top: 35px;
        margin-bottom: 50px;
        padding: 25px;
        background-color: black;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .flex-row {
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #loginbtn {
        text-align: center;
        text-decoration: none;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 10px 0;
        border-radius: 15px;
        float: center;
    }

    #search {
        width: 22%;
        padding: 12px;
        margin: 10px 0;
        border-radius: 20px;
        color: #FAFAFA;
        background-color:#434051ad;
    }

    #feedbacks {
        text-align: left;
        width: 600px; 
        display: block; 
        margin:auto; 
        /* background-color: black;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.432); */
    }

    #def-feedback {
        margin: 10px;
    }

    input[type=submit], #loginbtn {
        float: center;
        min-width: 100px;
        color: #FAFAFA;
        background-color:#434051ad;
        padding: 6px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    input[type=submit]:hover, #loginbtn:hover {
        background-color: #FAFAFA;
        color:#434051ad;
    }

    #login {
        margin-top: 150px;
        margin-bottom: 10px;
    }

    img {
        height: 350px;
        width: 250px;
    }

    #tw, #fb , #ig {
        margin: 35px 20px;
        font-size: 64px;
        text-align: center;
        text-decoration: none;
        color: #FAFAFA;
    }

    #tw:hover, #fb:hover, #ig:hover {
        color: #434051ad;
    }

    @media only screen and (max-width: 800px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu a {
        font-size: 12px;
    }

    #rules, #about, #support, #contact {
        padding-top: 50px;
    }

    #paimon1 {
        height: 0px;
        width: 0px;
    }

    img {
        width: 200px;
        height: 250px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .content p, h3 {
        font-size: 16px;
    }
    }
</style>
{% endblock style %}

{% block content %}
<div id="base">
    <div class="container">
        <div class="menu">
            <a href="#rules">FORUM RULES</a>
            <a href="#about">ABOUT US</a>
            <a href="#support">SUPPORT US</a>
            <a href="#contact">CONTACT US</a>              
        </div>
    </div>
    <div id="rules" class="container">
        <h1>FORUM RULES</h1>
        <div class="content">
            <p>>>> Make posts in its relevant forum.</p>
            <p>>>> ANY form bullying will not be tolerated.</p>
            <p>>>> Racism and any form of harassment will not be tolerated.</p>
            <p>>>> It is advised that you don't post your personal information here.</p>
            <p>>>> Avoid using your real name.</p>  
            <p>>>> DO NOT post link to other sites.</p>
            <p>>>> DO NOT post gore/nude/disgusting content.</p>   
            <p>>>> Posting art that isn't yours should always be accompanied with credit.</p>   
            <p>>>> NO SPOILER. NO. SPOILER. N O. S P O I L E R.</p>   
        </div>
    </div>
    <div id="about" class="container">
        <h1>ABOUT US</h1>
        <div class="content">
            <p>>>> With an ongoing global pandemic and everyone (supposedly) in quarantine, people are desperate for any form of entertainment and human contact. This app provides just that. A place where you can meet new people of similar entertainment interest(s).</p>
        </div>
    </div>
    <div id="support" class="container">
        <div class="flex-row">
            <img src="static/img/paimon.png" alt="paimon" id="paimon1">
            <div class="flex-col">
                {% if user.is_authenticated %}
                    <h3>Help us improve</h3>
                    <form method="POST" style="text-align: center;">
                        {% csrf_token %}
                        {{ feedback_form }}
                        <br>
                        <input class="btn" type="submit" value="submit" id="submit">
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    {% else %}
                        {% if feedback_count == 0 %}
                        <p>Tell us what you think about WebForU.</p>
                        {% else %}
                        <p>We've got {{feedback_count}} feedbacks from our weebs.</p>
                        <p>Thank you for supporting us!</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <h3 id="login" style="margin-top: 75px;">Login to give us your feedback</h3>
                    <a id="loginbtn" href="{% url 'login' %}" class="btn">login</a>
                {% endif %}
            </div>
            <img src="static/img/paimon.png" alt="paimon">
        </div>
    </div>
    <div class="container" style="text-align: center;" id="search-container">
        <h3 id="searh-title">See what others say about us</h3>
        <input id="search" placeholder="Search">
        <div id="feedbacks">
        </div>
    </div>
    <div id="contact" class="container">
        <h1>CONTACT US :</h1>
        <div class="flex-row">
            <a href="https://twitter.com/d02_tk1" class="fa fa-twitter" id="tw"></a>
            <a href="https://www.facebook.com/kita.webforu/" class="fa fa-facebook" id="fb"></a>
            <a href="https://www.instagram.com/d02.tk1/" class="fa fa-instagram" id="ig"></a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#search").keyup(function(){
            var input = $("#search").val();
            $.ajax({
                url : "/informative-page/data?q=" + input,
                success : function (data) {
                    $("#feedbacks").empty();
                    if (input != "") {
                        for (i = 0; i < data.length; i++) {
                        var feedback = data[i].fields.feedback;
                        $("#feedbacks").append('<p id="def-feedback">'+ feedback + '</p>')
                    }
                }
                },
            })
        });
        $("#search").keydown(function(){
            $("#feedbacks").append('<p id="def-feedback">Searching...</p>')
        });
        $("#search").click(function(){
            $(this).animate({width : '60%'});
        });
    });
</script>
{% endblock content %}