<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<style>

    body {
        font-family: 'DM Mono';
    }

    #nav {
        background-color: #FAFAFA;
        position: fixed; 
        top: 0; 
        width: 100%;
        z-index: 10;
        overflow: hidden;
    }

    .topnav {
        max-width: 1170px;
        padding: 0 30px;
        margin: 0 auto;
    }

    .topnav a:not(:first-child){
        float: right;
    }
    .topnav a {
        float: left;
        display: block;
        padding: 5px 20px;
        margin: 10px 0px;
        border-radius: 30px;
        text-decoration: none;
        color: #080D1C;
    }

    .topnav a:hover {
        background-image: url("https://i.makeagif.com/media/8-02-2016/yYXxa_.gif");
        color: #FAFAFA;
    }

    .topnav p {
        float: left;
        display: block;
        padding: 5px 20px;
        margin: 10px 0px;
        color: #080D1C;
    }

    .topnav .logo{
        /* padding: 15px 40px 15px 0; 
        margin-left: 20px;   */
        float: left;
    }

    .topnav .icon {
        display: none;
    }

@media only screen and (max-width: 800px) {
    #nav .container{
        height: auto;
        padding: 0;
        text-align: center;
    }

    .topnav {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav a:not(:first-child){
        float: left;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
        padding-bottom: 10px;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 20px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav a:hover {
        background-image: none;
        color: #080D1C;
    }

    .topnav p {
        display: none;
    }
}
</style>
<body>
    <div id="nav">
        <div id="myTopNav" class="topnav" >
            <a href="/" class="btn logo">WebForU</a>
            <a href="/anime-forum" class="btn">anime</a>
            <a href="/meme-forum" class="btn">meme</a>
            <a href="/gaming-forum" class="btn">games</a>
            <a href="/informative-page" class="btn">info</a>

            {% if not user.is_authenticated %}
            <a class="log" href="{% url 'login' %}">login</a>
            {% else %}
            <a class="log" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            <p class="log">Hi, {{user.get_username}}</p>
            {% endif %}
            <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                {% if user.is_authenticated %}
                 Hi, {{user.get_username}}
                {% endif %}
            </a>
        </div>
    </div>

</body>
<script>
    function myFunction() {
      var x = document.getElementById("myTopNav");
      console.log("clicked");
      if (x.className === "topnav") {
        x.className += " responsive";
        console.log("if");
      } else {
        x.className = "topnav";
        console.log("else")
      }
    }
</script>


</html>