
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}
  
html {
    scroll-behavior: smooth;
}
  
.container {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
}

body {
    /* placeholder buat image */
    padding-top: 49px;
    min-height: 100vh;
    background-color: #F0F2F5;
    color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
}

.forumBGHeader {
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 30vw;
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.forumHeader {
    /* [...] FORUM */
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 7.2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.5vw #000000;
    word-wrap: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

.animeHeader {
    background-image: url('https://static.zerochan.net/Fate.stay.night.full.1876724.jpg');
    background-size: cover;
}

.gameHeader {
    background-image: url('https://coverfiles.alphacoders.com/460/46079.jpg');
    background-size: cover;
}

.memeHeader {
    background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701401575.jpg');
    background-size: cover;
}

#content {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 50vh;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.postsBox {
    flex: 3;
    margin: 0vw 2vw 0vw 0vw;
    display: flex;
    justify-content: center;

}
.sideBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

#searchBox {
    width: 100%;
    height: fit-content;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border: none;
    border-radius: 6px;
    margin: 0px auto 20px auto;
}

#result {
    width: 100%;
}

.postCard {
    width: 100%;
    padding: 15px 15px 15px 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #ffffff;
    text-align: left;
}
.postCard:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.postCard p {
    color: black;
    padding: 2px 0;
}

.forumCard {
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    background-color: #ffffff;
    color: #000000;
}
.forumCard p{
    text-align: left;
    padding: 5px 0;
}
.fbtn {
    margin-top: 17px;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    background-color: #F0F2F5;
    color: #808080;
}
.fbtn:hover {
    color: #ffffff;
    background-color:#3A3B3C;
}

footer {
    color: #000000;
}
  
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
  
.hide{
    display: none;
}

@media only screen and (max-width: 800px) {
    .container {
        min-width: 300px;
        padding: 30px;
    }

    a, p {
        font-size: 12px;
    }
    #content {
        margin-top: 0;
    }
    .sideBox{
        flex: 100%;
        margin-bottom: 30px;
    }
    .postsBox {
        margin: 0;
    }
    .forumCard {
        margin-bottom: 0;
    }

}

  