
{% extends 'index.html' %}
{% load static %}

{% block style %}
<style>
    #landing{
        min-height: calc(100vh - 49px);
        background-image: url("https://i.makeagif.com/media/8-02-2016/yYXxa_.gif");
        background-size: cover;
        color: #FAFAFA;
    }

    .cover{
        text-align: center;
        height: calc(100vh - 49px);
    }

    .cover h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 72px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .title {
        position: relative;
        margin-top: 50px;
    }
    .title img{
        width: 150px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu {
        margin-top: 100px;
    }

    .menu a {
        font-family: 'Orbitron', sans-serif;
        padding: 10px 25px;
        margin: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .menu a:hover, .login-btn:hover {
        background-color: #FAFAFA;
        color: black;
        font-weight: bold;
    }

    .subcription-form{
        width: 100%;
        padding: 60px 0;
    }

    form{
        width: 25%;
        margin: 0 auto;
    }

    input[type=email], input[type=password], input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 10px 0;
        border-radius: 30px;
    }

    input[type=submit] {
        float: center;
        min-width: 100px;
        color: #FAFAFA;
        background-color:#434051ad;
        padding: 6px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #FAFAFA;
        color:#434051ad;
        float: center;
    }

    .login-btn{
        width: 190px;
        font-family: 'Orbitron', sans-serif;
        padding: 5px 25px;
        margin: 10px auto;
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

@media only screen and (max-width: 800px) {

    .cover h1{
        font-size: 42px;
    }

    .title img{
        width: 100px;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu a, .login-btn{
        font-size: 12px;
    }

    form{
        width: 90%;
    }

    .subcription-form p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
</style>
{% endblock style %}

{% block content %}
<div id="landing">
    <div class="container">
        <div class="cover center">
            <div class="title">
                <h1>WELCOME</br>WEEBS</h1>
                <p>may the force be with you</p>
                <img src="{% static 'img/paimon.png' %}" alt="emergency food">    
            </div>
        </div>
        <div class="subcription-form">
            <form method="POST" class="uniForm">
                {% csrf_token %}
                {{ form }}
                <input class="btn" type="submit" value="sign up">
            </form>
        </div>
    </div>
</div>
{% endblock content %}